<% if @team.persisted? %>
  <form action="<%= team_url(@team) %>" method="post">

  <input type="hidden" name="_method" value="put">

<% else %>
  <form action="<%= teams_url %>" method="post">
<% end %>

    <label for="team_name">Title</label>
    <input type="text" name="team[name]" id="team_name" value="<%= @team.name %>"><br>

    <input type="submit" name="commit" value="Save">

  </form>


