<h1> To-Do List </h1>

<% @projects.each do |project| %>
	<div class="field">
	<h3><%= link_to project.title, project_url(project) %></h3>
		<ul>
	  <% project.items.each do |item| %>
		  <li><%= item.title %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<br>
<br>

<%= link_to "Start a new project", new_project_url%><br>
<%= link_to "Create a new task", new_item_url %><br>


